html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    letter-spacing: 0;
    font-weight: normal;
    color: var(--font-color);
    font-kerning: auto;
    font-family: "Jost", "Noto Sans JP", sans-serif;
    font-feature-settings: "palt";
    letter-spacing: 0.06em;

    &::before,
    &::after {
        all: unset;
    }
}
img {
    display: block;
    width: auto;
    height: auto;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    appearance: none;
    display: block;
}
details {
    summary {
        list-style: none;

        &::-webkit-details-marker {
            display: none;
        }
    }
}
table {
    border-collapse: collapse;
}
:target {
    scroll-margin-top: 100px;
}
:root {
    --primary-color: #3e4347;
    --secondary-color: #ebf0f0;
    --font-color: #202020;
    --padding-pc: clamp(28px, 3.5vw, 60px);
    --padding-sp: clamp(15px, 3vw, 28px);
}
$z-index: (
    about-pc: -1,
    canvas-pc: 1,
    products-pc: 2,
    productitem-pc: 2,
    contact-pc: 2,
    headerBtn-sp: 2,
    about-sp: 2,
    header-pc: 3
);

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 26px 0 0;
    padding-left: var(--padding-pc);
    padding-right: var(--padding-pc);
    position: fixed;
    left: 0;
    top: 0;
    z-index: map-get($z-index, "header-pc");
    transition: 0.5s ease-out;

    &.is-hidden {
        top: -100px;
    }

    a {
        display: block;
    }
    > a {
        display: flex;
        font-size: 1.7rem;
        line-height: 1;
        align-items: center;
        font-weight: 400;
        transition: 0.3s ease-out;

        img {
            height: 24px;
            margin-right: 10px;
        }

        @media (hover: hover) {
            &:hover {
                opacity: 0.5;
            }
        }
    }
    nav {
        ul {
            display: flex;
            align-items: center;
            gap: 46px;
            gap: clamp(26px, 4.49vw, 46px);

            li {
                a {
                    text-transform: uppercase;
                    font-size: 1.6rem;
                    font-weight: 400;
                    position: relative;

                    &::after {
                        content: "";
                        display: block;
                        width: 0;
                        height: 1px;
                        background-color: var(--primary-color);
                        transition: 0.4s ease-out;
                    }

                    @media (hover: hover) {
                        &:hover {
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                    &.corporate {
                        transition: 0.3s ease-out;

                        @media (hover: hover) {
                            &:hover {
                                opacity: 0.5;
                            }
                        }
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    #header__btn {
        display: none;
    }
}
main {
    h2 {
        font-size: clamp(1.4rem, 2.34vw, 1.8rem);
        margin-bottom: 32px;
        text-transform: uppercase;
        font-weight: 300;
    }
    section {
        &.heroarea {
            display: flex;
            justify-content: space-between;

            .heroarea__l {
                max-width: 958px;
                padding-top: calc(70px + clamp(80px, 10.5vw, 126px));
                padding-left: var(--padding-pc);
                padding-right: var(--padding-pc);

                h1 {
                    font-size: clamp(2.2rem, 3.83vw, 4.6rem);
                    line-height: 120%;
                    letter-spacing: 0;
                    text-transform: uppercase;
                    white-space: pre;
                    font-weight: 300;
                }
                p {
                    font-size: clamp(1.5rem, 0.94vw, 1.8rem);
                    margin-top: clamp(18px, 3.17vw, 38px);
                    line-height: 205%;
                }
                img {
                    margin-top: clamp(40px, 7.6vw, 114px);
                    position: relative;
                    margin-left: -150px;
                }
            }
            .heroarea__r {
                width: clamp(100px, 50.1vw, 962px);
                height: clamp(100px, 69.17vw, 1328px);

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    object-position: center right;
                }
            }
        }
        &.about {
            position: relative;
            z-index: map-get($z-index, "about-pc");
            margin-top: -82px;
            margin-bottom: 12.6vw;
            min-height: 47.08vw;
            display: flex;
            align-items: center;
            padding-right: var(--padding-pc);
            padding-left: var(--padding-pc);
            transition: 2s;
            transition-delay: 0.5s;

            &.display {
                background: linear-gradient(90deg, var(--primary-color) 0% 50%, #fff 50% 100%);
                background-size: 200%;
                background-position: right;

                &.is-done {
                    background-position: left;
                }
            }

            .about__txt {
                * {
                    color: #fff;
                }
                p {
                    font-size: clamp(1.3rem, 0.89vw, 1.7rem);
                    line-height: 255%;
                }
            }
            .about__img {
                position: absolute;
                width: 42.24vw;
                height: 38.54vw;
                bottom: -12.6vw;
                right: 0;

                div {
                    position: absolute;
                    object-fit: cover;

                    &:nth-of-type(1) {
                        left: 0;
                        bottom: 0;
                        z-index: 2;
                        width: 54%;
                        height: 63%;
                    }
                    &:nth-of-type(2) {
                        right: 0;
                        top: 0;
                        width: 63%;
                        height: 73%;
                    }

                    img {
                        width: 100%;
                    }
                }
            }
        }
        &.products {
            padding-left: var(--padding-pc);
            padding-right: var(--padding-pc);
            margin: 0 auto;
            margin-bottom: 400px;
            padding-top: 50px;
            position: relative;
            z-index: map-get($z-index, "products-pc");

            .products__grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: clamp(28px, 3vw, 52px);
                a {
                    display: block;
                    width: 100%;
                    height: auto;
                    cursor: none;

                    img {
                        width: 100%;
                    }
                    &:nth-of-type(3n-1) {
                        position: relative;
                        top: clamp(50px, 8.13vw, 130px);
                    }
                    &:nth-of-type(3n) {
                        position: relative;
                        top: clamp(50px, 16.25vw, 260px);
                    }

                    &.display {
                        position: relative;

                        &::before {
                            content: "";
                            display: block;
                            background-color: #fff;
                            height: 100%;
                            width: 100%;
                            position: absolute;
                            top: 0;
                            right: 0;
                            z-index: map-get($z-index, "productitem-pc");
                            transition: 1600ms;
                            transition-delay: 0.5s;
                        }

                        &.is-done {
                            &::before {
                                width: 0;
                            }
                        }
                    }
                }
            }
        }
        &.contact {
            background-color: var(--secondary-color);
            padding-top: clamp(32px, 5.33vw, 64px);
            padding-bottom: clamp(30px, 4.83vw, 58px);
            margin-top: 142px;
            position: relative;
            z-index: map-get($z-index, "contact-pc");
            div {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    font-size: clamp(1.5rem, 0.94vw, 1.8rem);
                    line-height: 1;
                    margin-bottom: clamp(30px, 4.83vw, 58px);
                }
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: fit-content;

                    &.form {
                        font-size: clamp(1.3rem, 1.8vw, 1.8rem);
                        line-height: 1;
                        margin-bottom: 20px;
                    }
                    &.tel {
                        font-size: clamp(2.4rem, 3.17vw, 3.8rem);
                        img {
                            display: block;
                            width: clamp(30px, 4.17vw, 50px);
                        }
                    }
                }
            }
        }
    }
}
footer {
    height: 46px;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.3rem;
}

.cursor-pointer {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 10;
    transform: scale(0);
    height: 152px;
    width: 152px;
    margin: -80px 0 0 -80px;
    transition:
        transform 0.3s,
        opacity 0.3s,
        visibility 0.3s;
    pointer-events: none;
}

.cursor-pointer.is-active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

#furnitureCanvasWrap {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: map-get($z-index, "canvas-pc");
    pointer-events: none;
    max-width: 1920px;
    width: clamp(300px, 80vw, 1920px);

    canvas {
        max-width: 100%;
        object-fit: contain;
    }
}

.parallax,
.pr-parallax {
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    header {
        padding: 16px 0 0;
        padding-left: var(--padding-sp);
        padding-right: var(--padding-sp);
        align-items: center;

        nav {
            position: absolute;
            right: 0;
            transform: translateX(100%);
            top: 0;
            padding-right: var(--padding-sp);
            padding-top: 140px;
            transition: 0.6s;
            height: 200vw;
            overflow-y: hidden;
            background-color: var(--secondary-color);
            width: 100vw;
            mix-blend-mode: color-burn;

            ul {
                flex-direction: column;
                align-items: end;
            }
        }

        &.is-active {
            nav {
                transform: translate(0);
            }
        }

        #header__btn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
            gap: 8px;
            width: 44px;
            height: 44px;
            position: relative;
            z-index: map-get($z-index, "headerBtn-sp");

            span {
                display: block;
                height: 2px;
                width: 100%;
                background-color: var(--font-color);
                transition: 0.5s;

                &:last-of-type {
                    width: 80%;
                }
            }

            &.is-active {
                span {
                    &:first-of-type {
                        transform: rotate(20deg) translateY(5px);
                    }
                    &:last-of-type {
                        width: 100%;
                        transform: rotate(-20deg) translateY(-5px);
                    }
                }
            }
        }
    }
    main {
        section {
            &.heroarea {
                padding-bottom: 34vw;
                display: block;
                .heroarea__r {
                    display: none;
                }
                .heroarea__l {
                    padding-right: var(--padding-sp);
                    padding-left: var(--padding-sp);
                    padding-top: 100px;

                    h1 {
                        font-size: clamp(2rem, 5.21vw, 4rem);
                    }
                    p {
                        font-size: clamp(1.2rem, 3.25vw, 1.6rem);
                    }
                }
            }
            &.about {
                margin-top: 0;
                z-index: map-get($z-index, "about-sp");
                padding-left: var(--padding-sp);
                padding-right: 0;
                max-width: 100%;
                overflow-x: hidden;

                .about__txt {
                    margin-right: 2rem;

                    p {
                        font-size: clamp(1.1rem, 2.4vw, 1.3rem);
                    }
                }

                .about__img {
                    position: relative;
                    top: unset;
                    right: unset;
                    bottom: unset;
                    left: unset;
                    height: auto;
                    width: 40vw;
                    margin: 3vw 0;

                    div {
                        position: relative;
                        width: 100%;
                        height: 40vw;

                        &:nth-of-type(1) {
                            width: 100%;
                            height: auto;
                            right: -5vw;
                            left: unset;
                        }
                        &:nth-of-type(2) {
                            width: 100%;
                            height: auto;
                        }

                        img {
                            transform: scale(1.5);
                        }
                    }
                }
            }
            &.products {
                padding-right: var(--padding-sp);
                padding-left: var(--padding-sp);
                .products__grid {
                    grid-template-columns: repeat(2, 1fr);
                    gap: clamp(12px, 2.8vw, 28px);

                    a {
                        &:nth-of-type(3n-1),
                        &:nth-of-type(3n) {
                            top: unset;
                        }
                        &:nth-of-type(2n) {
                            top: 12vw;
                        }
                    }
                }
            }
        }
    }
    #furnitureCanvasWrap {
        width: 100vw;
    }
}
@media screen and (max-width: 450px) {
    header{
        padding: 4px 0 0;
        padding-left: var(--padding-sp);
        padding-right: var(--padding-sp);
        > a{
            font-size: 1.2rem;
            img{
                height: 20px;
            }
        }
    }
    main {
        section {
            &.heroarea {
                padding-bottom: 38vh;
            }
            &.about {
                padding-right: var(--padding-sp);
                padding-top: 14vw;
                padding-bottom: 18vw;

                .about__txt {
                    margin-right: 0;

                    p {
                        br {
                            display: none;
                        }
                    }
                }
                .about__img {
                    display: none;
                }
            }
            &.products{
                margin-bottom: 80vw;
            }
            &.contact {
                padding-top: 14vw;
                padding-bottom: 12vw;

                div {
                    p {
                        font-size: clamp(1.2rem, 2.4vw, 1.4rem);
                        margin-bottom: 16px;
                    }
                    a {
                        &.form {
                            font-size: clamp(1.2rem, 2.4vw, 1.4rem);
                        }
                    }
                }
            }
        }
    }
}
